package $!{info.packagePath};

import $!{info.infoValue.entityPackagePath}.$!{info.infoValue.entityName};
import org.springframework.stereotype.Repository;
import cn.xglory.framework.dao.baseentitydao.BaseEntityDao;

@Repository
public class $!{info.className} extends BaseEntityDao<$!{info.infoValue.entityName}>{

}